    div {
        display: block;
        margin: 1em;
    }

    form,textarea {
        font-size: 19.5px;
    }

    label {
        font-weight: 500;
    }
    #saveOptions {
        display: inline-block;
        width: 10em;
    }
    textarea {
        display: block;
        width: 20%;
        height: 75px;
        padding: 12px 20px;
        box-sizing: border-box;
        font-size: 15px;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
        -webkit-transition: width 0.4s, height 0.5s ease-in-out;
        transition: width 0.4s, height 0.5s ease-in-out;
        transition: font-size 0.4s;
    }
    textarea:focus {
        width: 40%;
        height: 100px;
        font-size: 26px;
    }
   h2{
       display: inline;
   }